/*Custom fount */
@font-face {
  font-family: Centra;
  src: url('../assets/font/Centra-Bold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: Centra;
  src: url('../assets/font/Centra-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Centra;
  src: url('../assets/font/Centra-Book.ttf');
  font-weight: 300;
}
/* Default CSS */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400; /*normal*/
  overflow-x: hidden; /* Not overflow horizontally */
  position: relative;
  background-color: #121212 !important; /* in case that bootstrap overlap our styling*/
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;

}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}
