.skill{
    padding: 0 0 50px 0;
    position: relative;

}

.skill-box{
    background: #151515;
    border-radius: 64px; /* The corner 圓角*/
    text-align: center; /* The corner 圓角*/
    padding: 60px 50px; /* 跟前一個component的距離*/
    margin-top: -60px;
}

.skill h5{
    font-size: 45px;
    font-weight: 700;
}

.skill p{
    color: azure;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0; /*上 右 下 左*/
}

.skill-slider{
    width: 90%;
    margin: 0 auto;
    position: relative;
}

.skill-slider .item img{
    width: 50%;
    margin: 0 auto 15px auto
}

.background-image-left {
    top: 28%;
    position: absolute;
    bottom: 0;
    width: 40%;
    z-index: -4;
}